doctype html
html
    head
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css', integrity='sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE', crossorigin='anonymous')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        div
            block content
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(type='text/javascript', src='js/materialize.min.js')
        
