extends layout/layout

block content
    div.container
        div.card-panel
            div.center-align
                h3.center-align AUGURI!!!
                p.flow-text Te l'avevo promesso e l'ho fatto, o meglio iniziato, con questa dedica augurale.
                p.flow-text Tanti auguri amorosa, e adesso riempiamo questo spazio con la tua arte!
                img.circle.responsive-img(src='img/us.jpg', alt='fedevale')
                p.flow-text Love <3
                p.flow-text F
